<h4>Hire Type Guidelines</h4>

<br />

<table class="table">
    <tr class="bg-primary">
        <th>Hire Type</th>
        <th>Definition</th>
    </tr>
    <tr>
        <td>New Worker</td>
        <td>An employee or contractor within Workday that will be new to the Americas region and Dimension Data.</td>
    </tr>
    <tr>
        <td>Employee Transfer</td>
        <td>
            An employee that currently works for Dimension Data, but will be new to the Americas region.
            <br /><br />OR<br /><br />
            A current Americas employee moving to a new Country.
        </td>
    </tr>
    <tr>
        <td>Employee Conversion</td>
        <td>Someone that currently works for Dimension Data as a contingent and will be starting in the Americas region as an employee.</td>
    </tr>
</table>