<h4>Worker ID Help</h4>

<br />

<ol>
    <li>Employee record must be entered into Workday.</li>
    <li>Collect Worker ID from employee's record in Workday.</li>
</ol>

<br />

<span>PLEASE NOTE: For any "Contingent Workers" that will not be tracked in Workday, select <strong>Submit New Contingent Request</strong> from the Staffing menu</span>