<h4>Password Policy</h4>

<br />

<ul>
    <li>Password expires every 90 days</li>
    <li>Account is locked out after 5 invalid logon attempts</li>
    <li>
        Passwords must meet the following requirements:
        <ul>
            <li>Be at least 8 characters in length</li>
            <li>
                Contain characters from three of the following four categories:
                <ul>
                    <li>English uppercase characters (A through Z)</li>
                    <li>English lowercase characters (a through z)</li>
                    <li>Base 10 digits (0 through 9)</li>
                    <li>Non-alphabetic characters (for example, !, $, #, %)</li>
                </ul>
            </li>
        </ul>
    </li>
</ul>