<h4>Distribution Group Guidelines</h4>

<br />

<table class="table">
    <tr class="bg-primary">
        <th>Guideline</th>
        <th>Example</th>
    </tr>
    <tr>
        <td>Capitalize first letter of compound words</td>
        <td>
            <ul style="padding-left: 0">
                <li style="list-style: none">US.Sales.InsideSales</li>
                <li style="list-style: none">AM.Finance.AccountsReceivable</li>
            </ul>
        </td>
    </tr>

    <tr class="bg-primary">
        <th>Format</th>
        <th>Example</th>
    </tr>
    <tr>
        <td>Function for a Business Unit</td>
        <td>AM.Marketing.Communications</td>
    </tr>
    <tr>
        <td>Function for a Customer</td>
        <td>US.Cisco.Orders</td>
    </tr>
    <tr>
        <td>Function only</td>
        <td>US.IT</td>
    </tr>
</table>