@model IEnumerable<SNAP.Models.Persistent.Shipment>

@{
    ViewBag.Title = "Shipments";
}

<h2>@ViewBag.Title</h2>

<hr />

@using (Html.BeginForm("Shipments", "ITAdmin", FormMethod.Get))
{
    <div class="form-inline">
        <div class="form-group">
            @Html.Editor("RecipientsName", new { htmlAttributes = new { @class = "form-control keyup-submit", placeholder = "Recipient's Name" } })
        </div>
    </div>
}

<br />

<div id="ajaxPartial">
    @Html.Partial("_ShipmentsPartial", Model)
</div>