<div class="jumbotron">
    <h1>Power BI</h1>
    <p class="lead">Data Management API</p>
    <br />
    <p>@Html.ActionLink("Learn More", "Index", "Help", new { area = "" }, new { @class = "btn btn-primary btn-lg" })</p>

</div>
<div class="row">
    <div class="col-md-4 col-md-offset-2">
        <img src="//powerbicdn.azureedge.net/cvt-9827bc8ed9e1de91748a8f11d284bea1bfe0a1c1e3e24ac4ef924e4285fcd8f4/pictures/shared/section/analytics-solutions/analytics-reports-static.gif?636171595341381294" data-src-gif="//powerbicdn.azureedge.net/cvt-2dc4db1d496357716306a5c4abc6f55bc3f326779a99f14f74e94424e6f0af51/pictures/shared/section/analytics-solutions/analytics-reports.gif?636171595341480681" alt="" height="160" width="213">
    </div>
    <div class="col-md-4">
        <h2>What is Power BI?</h2>
        <p>Power BI is a suite of business analytics tools to analyze data and share insights. Monitor your business and get answers quickly with rich dashboards available on every device.</p>
    </div>
</div>
