@{
    ViewBag.Title = "Success";
}

<h2 class="text-success">Success.</h2>

<h4 class="text-success">@ViewBag.Description</h4>

<script>
    window.setTimeout(function () {
        window.location.href = "/";
    }, 5000);
</script>